@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');

body {
    background-color: rgb(5, 21, 75);
    color: white;

    main {
        display: flex;
        flex-direction: column;
        height: 90vh;
        justify-content: center;
        align-items: center;

        h2 {
            font-family: 'Lobster Two', cursive;
            font-size: 4rem;
            font-weight: 400;
            text-align: center;
        }

        h4 {
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 10px;
        }

        .interval-container {
            display: flex;
            margin: 0 40px;
            align-items: center;
        }

        .interval-length-container {
            display: flex;
        }

        .interval-length {
            font-size: 2rem;
            margin: 0 10px;
        }

        .timer-container {
            border: 2px solid #515adb;
            color: black;
            background-color: white;
            margin-top: 40px;
            border-radius: 25px;
            width: 250px;
            text-align: center;
            box-shadow: 0 2px 4px #515adb;
            padding: 10px;

            .timer {
                font-size: 2rem;
            }
        }

    }
}

button {
    margin: 1em 10px;
    height: 25px;
    background-color: #505bf7;
    border: none;
    outline: none;
    cursor: pointer;
    color: #eee;
    width: 70px;
    border: 1px solid white;
    border-radius: 4px;
}

button:hover {
    color: #263646;
    background-color: white;
    border: 1px solid #515adb;
}

.timer-actions {
    margin-top: 20px;
    text-align: center;
}

button:disabled {
    cursor: not-allowed;
}

#pomodoro {
    color: #515adb;
}

@media screen and (max-width: 930px) {

    main {
        height: auto !important;
    }

    .interval-length-container {
        flex-direction: column;
    }

    h2 {
        margin: auto;
    }
}